.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-page p{
    font-size: 30px;
    font-weight: bold;
}
.login-form div{ 
   
    padding: 20px;
    border-radius: 10px;
}
.div{
           
}
/   KNNKNKNK


